PORT=8000
NODE_ENV=development
ORIGIN_FRONTEND=http://localhost:3000
BASE_URL=http://localhost:8000
APP_NAME=__PROJECT_NAME__
DB_URL=postgres://postgres:postgres@localhost:5432/__PROJECT_NAME__
ACCESS_SECRET=change-this-access-secret
REFRESH_SECRET=change-this-refresh-secret
SALT=10
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SRC=true
SMTP_MAIL="thesmtpprovider@gmail.com"
SMTP_PASS="ugzr qorq nple mrib"

CLOUDINARY_CLOUD_NAME=dprkgukne
CLOUDINARY_API_KEY=752938664441566
CLOUDINARY_API_SECRET=2q3C3i8P_7vAfRVVRDJQ1D421c4


RAZORPAY_KEY_ID=rzp_test_TT6S6AFwiSdHx0
RAZORPAY_KEY_SECRET=iMzvdfz9rQmWoIjjjYxQsRT3
RABBITMQ_URL=amqp://guest:guest@localhost:5672

